
<%= render(@post) %>

<div>
  <%= link_to("Edit this post", edit_post_path(@post)) %> 
  <%= link_to("Back to posts", posts_path) %> <br>
  <%= link_to("Destroy this post", @post, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are You Sure to delete ?" }) %>
</div>

<div class="container">
  <%= render("comments/form", post: @post)%>
  <%= @comments.each do |comment|%>
    <%= render("comments/comment", post: @post, comment: comment)%>
  <% end %>
</div>


